altgraph==0.17.3
attrs==18.2.0
blessed==1.20.0
comtypes==1.1.14
fire==0.5.0
fonttools==4.39.2
lxml==4.9.2
numpy==1.24.2
opencv-python==4.7.0.72
Pillow==9.4.0
plumbum==1.8.1
ply==3.11
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
PyMuPDF==1.21.1
python-docx==0.8.11
python-editor==1.0.4
readchar==4.0.4
six==1.16.0
termcolor==2.2.0
tqdm==4.65.0
wcwidth==0.2.6
